.header-annonce {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 24px;
}
.infos-annonce {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 125px;
  align-items: flex-start;
  font-size: 18px;
  /* margin-bottom: 5px; */
}
.infos-annonce h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 0px;
  line-height: 40px;
}
.infos-annonce p {
  margin-bottom: 15px;
}
.infos-annonce .tags ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.infos-annonce .tags .tag {
  background-color: #ff6060;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
  list-style: none;
}
.infos-profil {
  display: flex;
  flex-direction: column;
  height: 125px;
  align-items: flex-end;
  justify-content: space-between;
}
.profil {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  color: #ff6060;
}
.profil h2 {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
.profil img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.infos-profil .rate img {
  height: 30px;
  width: 30px;
}

.close {
  display: none;
}
.open {
  display: block;
}
.main ul {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
}
.main li {
  text-decoration: none;
  list-style: none;
  margin-bottom: 55px;
  width: 50%;
}
.main h2 {
  background: #ff6060;
  border-radius: 5px;
  height: 47px;
  display: flex;
  margin-bottom: 31px;
  align-items: center;
  position: relative;
  /* width: 90%; */
  color: #fff;
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding-left: 18px;
  margin: auto;
}
.main h2 span {
  position: absolute;
  right: 15px;
  width: 25px;
  height: 25px;
  background: url("../About/Vector.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main li .open {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ff6060;
  /* width: 85%; */
  padding-left: 18px;
  text-align: left;
  margin: auto;
  margin-top: 27px;
  line-height: 142%;
}

@media all and (min-width: 681px) and (max-width: 1278px) {
  .header-annonce {
    gap: 20px;
  }
  .infos-annonce h1 {
    font-size: 32px;
    margin-bottom: 0px;
    line-height: 30px;
  }
  .main ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
  }
}

@media all and (max-device-width: 680px) {
  .header-annonce {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    flex-direction: column;
  }
  .infos-annonce {
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    align-items: flex-start;
    font-size: 14px;
  }
  .infos-annonce h1 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 25px;
  }
  .infos-annonce p {
    margin-top: 0;
    margin-bottom: 13px;
  }

  .infos-annonce .tags .tag {
    border-radius: 5px;
    font-size: 10px;
    padding: 7px 18px;
  }
  .infos-profil {
    flex-direction: row-reverse;
    height: 65px;
    align-items: center;
    justify-content: space-between;
  }
  .profil {
    align-items: center;
    justify-content: flex-end;
  }
  .profil h2 {
    font-size: 12px;
    margin-right: 10px;
  }
  .profil img {
    width: 32px;
    height: 32px;
  }
  .infos-profil .rate img {
    height: 15px;
    width: 15px;
  }

  .main ul {
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
  }
  .main h2 {
    font-size: 13px;
    width: 100%;
  }
  .main li {
    margin-bottom: 20px;
    width: 100%;
  }
  .main li .open {
    font-size: 12px;
    margin-bottom: 50px;
    width: 100%;
    margin-top: 17px;
  }
}
