body footer {
  margin: 0;
}

.footer {
  height: 209px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  margin-top: 150px;
}
.footer .logo {
  width: 122px;
  margin-bottom: 30px;
}
.footer .copyright {
  max-width: 513px;
}

@media all and (max-device-width: 480px) {
  .footer .copyright {
    max-width: 213px;
  }
}
