@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  margin: 50px 100px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.app {
  min-height: 100vh;
  height: auto;
  position: relative;
}

@media all and (max-device-width: 580px) {
  body {
    margin: 20px 20px;
  }
}
