.background-accueil {
  margin: 50px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  background: url("./background-home.png"), rgba(0, 0, 0, 0.305);
  /* opacity: .9; */
  background-blend-mode: darken, luminosity;
  border-radius: 25px;
  position: relative;
  background-size: cover;
}

.background-accueil h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  color: #ffffff;
  text-shadow: 1px 0 0px #fff;
}

@media all and (min-width: 581px) and (max-width: 980px) {
  body {
  }
}

@media all and (max-device-width: 580px) {
  .background-accueil {
    margin: 20px 0 0 0px;
    text-align: center;
    height: 111px;
    border-radius: 10px;
  }

  .background-accueil h1 {
    font-size: 24px;
    line-height: 100%;
    text-align: left;
    padding-left: 16px;
    text-shadow: 1px 0 0px #fff;
  }
}
